{% extends 'home/base.html' %}
{% block title %} Contact {% endblock %}
{% block body %}
{% load staticfiles %}
{% include 'home/nav.html'%}
<div class="container contactform">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            <h1>Neem contact met ons op!</h1>
            <form>
                <div class"form-group">
                    <input type="text" class="form-control" placeholder="Name">
                    <input type="email" class="form-control" placeholder="Email address">
                    <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="">
                    <textarea name="message" type="text" placeholder="Message"></textarea>
                </div>
                <input type="submit" value="Versturen">
            </form>
        </div>
    </div>
</div>
{% endblock %}
