<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
        <div class="row footerRow">
            <div class="col-sm-4">
                <ul class="unstyled">
                    <li><a href="#">Over ons</a></li>
                    <li><a href="#">Voorwaarden</a></li>
                    <li><a href="#">Wie doen er mee</a></li>
                    <li><a href="#">Vraag en antwoord</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary">Vraag direct een adviesgesprek aan!</button>
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <ul>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h6 style="color:#a9a9a9">Copyright &copy; 2017 Rutger Muller</h6>
            </div>
        </div>

    </div>
</footer>
