{% load staticfiles %}
{% block nav %}
    <div class="navbar navbar-default navbar-static-top topnav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home:index'%}">Oversluiten</a>
            <button class="navbar-toggle" data-toggle='collapse' data-target='.navHeaderCollapse'>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if nbar == 'home' %}active{% endif %}"><a href="{% url 'home:index'%}">Home</a></li>
                    <li class="{% if nbar == 'bereken' %}active{% endif %}"><a href="{% url 'home:createlead'%}">Bereken</a></li>
                    <li class="{% if nbar == 'wiezijnwij' %}active{% endif %}"><a href="#">Wie zijn wij</a></li>
                    <li class="dropdown {% if nbar == 'hypotheken' %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle='dropdown'>Hypotheken <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Oversluiten</a></li>
                            <li><a href="#">Ik ben nieuw</a></li>
                            <li><a href="#">Handige tips</a></li>
                        </ul>
                    </li>
                    <li class="{% if nbar == 'contact' %}active{% endif %}">
                        <a href="{% url 'home:contact'%}#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-xs-3 col-lg-offset-2">
                <img class="img-responsive"src="{% static 'img/banner.jpeg'%}" alt="">
            </div>
            <div class="col-md-3 col-lg-3 col-lg-offset-1">
                <p>
                    "Ik wist niet zoals veel mensen niet dat het oversluiten van een hypotheek zo voordelig kan zijn.
                    Blijkbaar ben ik niet goed geadviseerd toen ik mijn eerste hypothek afsloot.. Gelukkig kan je
                    makkelijk online advies aanvragen en is het eerste gesprek altijd kosteloos!
                    "
                </p>
            </div>
        </div>
    </div>
{% endblock %}
