{% load staticfiles %}
{% block nav %}
    <div class="navbar navbar-default navbar-static-top topnav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home:index'%}">Oversluiten</a>
            <button class="navbar-toggle" data-toggle='collapse' data-target='.navHeaderCollapse'>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'home:index'%}">Home</a></li>
                    <li><a href="{% url 'home:calculation' %}">Bereken</a></li>
                    <li><a href="#">Wie zijn wij</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle='dropdown'>Hypotheken <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Oversluiten</a></li>
                            <li><a href="#">Ik ben nieuw</a></li>
                            <li><a href="#">Handige tips</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'home:contact'%}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
