{% block nav %}
{% load staticfiles %}

<div class="container-fluid top">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p><h3>Kom niet voor verassing te staan</h3></p>
            <h4>Vraag direct een adviesgesprek aan!</h4>
            <button type="button" class="btn btn-success">Gratis adviesgesprek</button>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <p class="contactus"><b>Meer weten? bel: 08810294848</b></p>
        </div>
    </div>
</div>


<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Tips bij het kopen</a></li>
            <li role="presentation"><a href="#">Maak een berekening</a></li>
            <li role="presentation"><a href="#">Wie zijn wij?</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
        </ul>
</nav>
{% endblock %}
