.footer {
  position: relative;
  margin-top: 40px; /* negative value of footer height */
  clear:both;
  padding-top:20px;
}
/*
The classe below belong to the home page
*/
/* Banner */
.banner {
    border-top: 8px solid #DE1B1B;
    background-color: #2B2B2B;
    height: 23em;
}

.banner img {
    margin-top: 3em;
}

.banner p {
    font-family: 'Pangolin', cursive;
    font-size: 1.2em;
    color:white;
    margin-top: 3em;
}

/* HomePage TopBlocks */
.topblock {
    margin-top: 5em;
    background-color: #F0F0F0;
}
.homedivider {
    margin-top: 5em;
}
.homedivider img {
    width: 100%
}
/* End of Homepage*/

/* Navbar */
.topnav {
    height: 6em;
    margin-bottom:0;
    font-size: 1.2em;
}

/* Footer Styling */
.footer {
  background-color: #f5f5f5;
}

.footerRow {
    margin-top: 1.5em;
    border-bottom: 1px solid white;
}

.footer a {
    color: black;
}

/* Form */
.calc-form {
    margin-top: 10em;
    padding-top: 5em;
}

/* Contactform*/
.contactform {
    padding-bottom: 3em;
}
.contactform input{
    margin-top: 1em;
}
.contactform textarea {
    margin-top: 1em;
    width: 80%;
}
