
/* nav styling */
.top {
    margin-bottom: 3em;
    height: 8em;
}

.top p {
    margin-top: 0em;
}
.top p h3 {
    font-size: 10px;
}
.contactus {
    margin-top: 3em;
    color: red;
}

.top img {
    display: inline-block;
}

.navbar {
    height: 6em;
    background-color: white;
    line-height: 50px;
    background-image: none;

}
.navbar li {
    margin-left: 4em;
    font-size: 1.3em;
}
.navbar li a {
    color:black;
}
